<header>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">DaSh - Weather App</a>
    </div>
  </nav>
</header>
<weather-app></weather-app>
<footer class="text-center">
  <div class="container">
    <p class="text-muted">Copyright &copy; DaSh.Work-2017</p>
  </div>
</footer>
