/*Custome stylesheet for the complete application*/
main {
  margin-top: 15%;
}
.jumbotron {
  box-shadow:0 2px 0 rgba(0,0,0,0.2);padding:10px 5px 0px 5px;
}
.navbar-default {
  background-color:#e74c3c !important;
}
.navbar-default .navbar-brand {
  color:#fff;
}
.footer {
  position: absolute;bottom: 0;width: 100%;height: 60px;background-color: #e74c3c;
}
.curr {
  text-transform:capitalize;
}
.weatherDesc {
  padding-left: 0px;
}
.minTemp {
  color: #797575;
}
.allDayWeather {
  border-right: 1px solid #c3c3c3;
}
.panel {
  cursor: pointer;
}
.jumbotron-2 {
  box-shadow:2px 2px 2px 2px rgba(0,0,0,0.2);
  background-color: #fbfbfb;
}
.glyphicon-hand-up {
  font-size: 25px;
}
